.gloss-synset {
  padding-bottom: 10px;
}

.means {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 15px 0 10px 0;
  border-top: solid thin #fec400;
  margin-right: 15px;
}

.ex::before {
  content: "•";
}

.ex {
  font-size: 1.7rem;
  font-style: italic;
  margin-bottom: 10px;
}

.synset {
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.hv:hover {
  text-decoration: underline;
}
