/* Search */
.homepage {
  display: flex;
  width: 100%vw;
  height: 280px;
  align-items: center;
  background-image: linear-gradient(to right, #0f193d, #2c2f62, #1a2753);
}

.logo {
  margin: 0 auto;
}

.logo__img {
  margin: 0 30.5px;
}

.slogan {
  margin: 0 auto;
  font-size: 2rem;
  color: var(--header--color);
}

/* SVG */
.pg-hsvg-f1,
.pg-hsvg-f4 {
  fill: #ff8029;
}

.pg-hsvg-f2,
.pg-hsvg-f7 {
  fill: #0580e8;
}

.pg-hsvg-f3,
.pg-hsvg-f9 {
  fill: #5d30c1;
}

.pg-hsvg-f5,
.pg-hsvg-f8 {
  fill: #5ce8ff;
}

.pg-hsvg-f6 {
  fill: #ffc400;
}

.pg-hsvg-f10 {
  fill: #1d2956;
}

.box__item__1,
.box__item__2,
.box__item__3,
.box__item__4 {
  position: absolute;
}

.box__item__1 {
  top: 50px;
  left: 0;
}

.box__item__2 {
  top: 240px;
  left: 0;
}

.box__item__3 {
  top: 250px;
  left: calc(100% - 90px);
}

.box__item__4 {
  top: 50px;
  left: 50%;
}
