:root {
  --background-color: #1d2a57;
  --font-family: Arial, Helvetica, sans-serif;
  --header--color: #fff;
  --border--color: #4a5478;
  --gloss-color: #1d2a57;
}

/* Reset CSS */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

/* Header */
.header--container {
  width: 100vw;
  height: 50px;
  background-color: var(--background-color);
  color: var(--header--color);
  border: 1px solid var(--border--color);
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  height: 100%;
}

.header__right {
  display: flex;
  height: 100%;
}

.nav__brand {
  height: 100%;
  padding: 0 20px;
  border-right: 1px solid var(--border--color);
  margin-right: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 25px;
}

/* Search */
.search--container {
  display: flex;
  width: 100%vw;
  height: 280px;
  align-items: center;
  background-image: linear-gradient(to right, #0f193d, #2c2f62, #1a2753);
}

.logo {
  margin: 0 auto;
}

.logo__img {
  margin: 0 30.5px;
}

.slogan {
  margin: 0 auto;
  font-size: 2rem;
  color: var(--header--color);
}

.search__bar {
  width: 65%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 70%;
  border: 3px solid #fec400;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #000;
  font-size: 1.6rem;
}

.searchButton {
  width: 50px;
  height: 45px;
  border: 1px solid #fec400;
  background: #fec400;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* SVG */
.pg-hsvg-f1,
.pg-hsvg-f4 {
  fill: #ff8029;
}

.pg-hsvg-f2,
.pg-hsvg-f7 {
  fill: #0580e8;
}

.pg-hsvg-f3,
.pg-hsvg-f9 {
  fill: #5d30c1;
}

.pg-hsvg-f5,
.pg-hsvg-f8 {
  fill: #5ce8ff;
}

.pg-hsvg-f6 {
  fill: #ffc400;
}

.pg-hsvg-f10 {
  fill: #1d2956;
}

.box__item__1,
.box__item__2,
.box__item__3,
.box__item__4 {
  position: absolute;
}

.box__item__1 {
  top: 50px;
  left: 0;
}

.box__item__2 {
  top: 240px;
  left: 0;
}

.box__item__3 {
  top: 250px;
  left: calc(100% - 90px);
}

.box__item__4 {
  top: 50px;
  left: 50%;
}

/* Glossary */
.word-page {
  padding: 0 50px;
  display: flex;
  width: 100%;
}

.leftslot {
  width: 300px;
}

.rightslot {
  width: 100%;
  display: flex;
}

.glossary-container {
  width: 100%;
  display: flex;
  color: var(--gloss-color);
  margin: 0 80px;
}

.gloss {
  padding: 15px 30px 15px 20px;
  width: 100%;
}

.word-heading {
  font-size: 1.2rem;
  text-align: start;
}

.share-word {
  height: 30px;
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(229, 228, 233);
  margin-bottom: 5px;
}

.share-icon {
  margin-right: 20px;
}

.share-icon-container {
  text-align: end;
}

.word-container {
  border-bottom: 10px;
}

.word {
  font-size: 3.6rem;
  padding-left: 10px;
  margin-bottom: 30px;
}

.speaker {
  padding: 10px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  display: flex;
}

.speaker__item {
  display: flex;
  margin-right: 20px;
  font-weight: bold;
}

.temp {
  width: 300px;
}

/* explain */
.explain {
  margin: 10px;
  border-top: solid 3px #5d2fc1;
}
