.glossary-container {
  width: 100%;
  display: flex;
  color: var(--gloss-color);
  margin: 0 80px;
}

.gloss {
  padding: 15px 30px 15px 20px;
  width: 100%;
}

.word-heading {
  font-size: 1.2rem;
  text-align: start;
}

.share-word {
  height: 30px;
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(229, 228, 233);
  margin-bottom: 5px;
}

.share-icon {
  margin-right: 20px;
}

.share-icon-container {
  text-align: end;
}

.word-container {
  border-bottom: 10px;
}

.word {
  font-size: 3.6rem;
  padding-left: 10px;
  margin-bottom: 20px;
}

.speaker {
  padding: 10px;
  font-size: 1.6rem;
  margin-bottom: 10px;
  display: flex;
}

.speaker__item {
  margin-right: 20px;
  font-weight: bold;
}

.temp {
  width: 300px;
}

