/* Header */
.header--container {
  width: 100vw;
  height: 50px;
  background-color: var(--background-color);
  color: var(--header--color);
  border-top: 1px solid var(--border--color);
  border-bottom: 1px solid var(--border--color);
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  height: 100%;
}

.header__right {
  display: flex;
  height: 100%;
}

.nav__brand {
  height: 100%;
  padding: 0 20px;
  border-right: 1px solid var(--border--color);
  margin-right: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 25px;
}

.toggle {
  height: 30px;
  width: auto;
  border-radius: 15px;
  padding: 6px 10px 8px 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.bgc_c_x {
  background-color: #616a89;
  color: white;
}

.bgc_c_v {
  background-color: #fec400;
  color: #292929;
}
